* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  color: #11151F;
}

header {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav {
  width: 1024px;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .logo {
  font-size: 1.125rem;
  font-weight: 600;
}

header nav .logo a {
  text-decoration: none;
}

header nav .logo a:hover {
  color: #B6C2E2;
}

header nav .navMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav .navMenu li {
  font-size: 1rem;
  margin-right: 40px;
  list-style: none;
}

header nav .navMenu li:nth-child(4) {
  margin-right: 0px;
}

header nav .navMenu li .navItem {
  text-decoration: none;
  opacity: 60%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .navMenu li .navItem:hover {
  opacity: 100%;
  -webkit-box-shadow: 0px 3px 0px 0px #B6C2E2;
          box-shadow: 0px 3px 0px 0px #B6C2E2;
  -webkit-transition: .2s;
  transition: .2s;
}

header nav .navMenu #work {
  position: relative;
}

header nav .navMenu #work .dropdown {
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 20px;
  left: -50%;
  padding: 16px;
}

header nav .navMenu #work .dropdown li {
  padding: 8px 0 8px 0;
  margin-right: 0px;
}

header nav .navMenu #work .dropdown li a {
  text-decoration: none;
  opacity: 60%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .navMenu #work .dropdown li a:hover {
  opacity: 100%;
  -webkit-transition: .2s;
  transition: .2s;
}

header nav .navMenu #work .dropdown {
  display: none;
}

header nav .navMenu #work:hover > .dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .introSection {
  width: 100%;
  border-bottom: 1px solid #E6EAF5;
  padding: 72px 0 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .introSection .introWrap {
  width: 1024px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .introSection .introWrap .photo {
  width: 40%;
  max-height: 420px;
  border-radius: 12px;
  overflow: hidden;
  background-color: #F4F6FA;
}

main .introSection .introWrap .photo img {
  max-width: 100%;
  max-height: auto;
  border-radius: 12px;
}

main .introSection .introWrap .introduction {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 32px 32px 32px 32px;
}

main .introSection .introWrap .introduction .title {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 32px;
}

main .introSection .introWrap .introduction .subtitle {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 12px;
}

main .introSection .introWrap .introduction .description {
  opacity: 60%;
}

main .introSection .introWrap .introduction .roleAndTool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 48px;
}

main .introSection .introWrap .introduction .roleAndTool .role {
  margin-right: 20%;
}

main .uxSection {
  width: 100%;
  border-bottom: 1px solid #E6EAF5;
  padding: 72px 0 72px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .uxSection .uxWrap {
  width: 1024px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .uxSection .uxWrap .title {
  padding-bottom: 40px;
  font-size: 1.5rem;
  font-weight: 700;
}

main .uxSection .uxWrap .subtitle {
  padding-top: 60px;
  padding-bottom: 30px;
  font-size: 1.125rem;
  font-weight: 700;
  text-align: center;
}

main .uxSection .uxWrap img {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

main .uxSection .uxWrap .imgWithShadow {
  width: 80%;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15), 0px 0px 100px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15), 0px 0px 100px rgba(0, 0, 0, 0.1);
  margin-bottom: 32px;
}

main .mockupSection {
  width: 100%;
  border-bottom: 1px solid #E6EAF5;
  padding: 72px 0 72px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FBFBFD;
}

main .mockupSection .mockupWrap {
  width: 1024px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .mockupSection .mockupWrap .title {
  padding-bottom: 40px;
  font-size: 1.5rem;
  font-weight: 700;
}

main .mockupSection .mockupWrap .subtitle {
  padding-top: 60px;
  padding-bottom: 30px;
  font-size: 1.125rem;
  font-weight: 700;
  text-align: center;
}

main .mockupSection .mockupWrap img {
  width: 80%;
  height: auto;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15), 0px 0px 100px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15), 0px 0px 100px rgba(0, 0, 0, 0.1);
  margin-top: 32px;
  display: block;
  margin: auto;
}

main .systemSection {
  width: 100%;
  border-bottom: 1px solid #E6EAF5;
  padding: 72px 0 72px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .systemSection .systemWrap {
  width: 1024px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .systemSection .systemWrap .title {
  padding-bottom: 40px;
  font-size: 1.5rem;
  font-weight: 700;
}

main .systemSection .systemWrap img {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px 0 60px 0;
  -webkit-box-shadow: 0px -1px 0px 0px #E6EAF5;
          box-shadow: 0px -1px 0px 0px #E6EAF5;
}

footer .footerTitle {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 8px;
}

footer .footerSubtitle {
  opacity: 60%;
  margin-bottom: 40px;
}

footer .linkGroup a {
  margin: 0 20px 0 20px;
}
/*# sourceMappingURL=style.css.map */