<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Becky Hung">
    <meta name="robots" content="index, follow">
    <meta name=""description content="This is Becky Hung portfolio. Becky Hung is a UIUX designer and front-end developer from Taiwan.">
    <title>Becky Hung Portfolio | About</title>
    <link rel="stylesheet" href="../static/style/about/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="logo"><a href="../index.html">Becky&nbsp;Hung</a></div>
            <ul class="navMenu">
                <li><a href="../index.html" class="navItem">Home</a></li>
                <li id="work">
                    <a href="#" class="navItem">Work
                         <img src="../static/icon/arrow-down.svg" style="padding-left: 5px;"/>
                         <ul class="dropdown">
                             <li><a href="../index.html#designProject" >Design</a></li>
                             <li><a href="../index.html#programProject">Programming</a></li>
                         </ul>
                     </a>
                 </li>
                <li><a href="about.html"  class="navItem">About</a></li>
            </ul>
        </nav> 
     </header>
     <main>
         <section class="introSection">
             <div class="introWrap">
                <div class="photo">
                    <img src="../static/image/becky_hung_photo.png" alt="beckyhung">
                </div>
                <div class="introduction">
                    <div class="title">
                        Hello, I am Becky Hung 
                    </div>
                    <div class="description">I have the ability of web design and programming. I am passionate about improving my design and  programming skills, and constantly looking to learn new things everyday.</div>
                </div>
             </div>
         </section>
         <section class="specializeSection">
            <div class="specializeWrap">
                    <div class="title">I Specialize in</div>
                    <div class="specializeBox">
                        <div class="specialize">
                            <div class="name">UI Design</div>
                            <div class="description">I have the ability of web design and programming. I am passionate about improving my design and  programming skills, and constantly looking to learn new things everyday.</div>
                        </div>
                        <div class="logoGroup">
                            <div class="logo">
                                <img src="../static/icon/figma.svg" alt="figma">
                            </div>
                            <div class="logo">
                                <img src="../static/icon/sketch.svg" alt="sketch">
                            </div>
                            <div class="logo">
                                <img src="../static/icon/xd.svg" alt="xd">
                            </div>
                            <div class="logo">
                                <img src="../static/icon/ai.svg" alt="ai">
                            </div>
                            <div class="logo">
                                <img src="../static/icon/ps.svg" alt="ps">
                            </div>
                            <div class="logo">
                                <img src="../static/icon/ae.svg" alt="ae">
                            </div>
                            <div class="logo">
                                <img src="../static/icon/invision.svg" alt="invision">
                            </div>
                            <div class="logo">
                                <img src="../static/icon/marvel.svg" alt="marvel">
                            </div>
                            <div class="logo">
                                <img src="../static/icon/protoio.svg" alt="protoio">
                            </div>
                            <div class="logo">
                                <img src="../static/icon/protopie.svg" alt="protopie">
                            </div>
                        </div>
                    </div>
                    <div class="specializeBox">
                        <div class="specialize">
                            <div class="name">UX Research</div>
                            <div class="description">I have the ability of web design and programming. I am passionate about improving my design and  programming skills, and constantly looking to learn new things everyday.</div>
                        </div>
                        <div class="logoGroup">
                            <div class="logo">
                                <img src="../static/icon/figjam.svg" alt="figjam">
                            </div>
                            <div class="logo">
                                <img src="../static/icon/drawio.svg" alt="drawio">
                            </div>
                            <div class="logo">
                                <img src="../static/icon/lookback.svg" alt="lookback">
                            </div>
                        </div>
                    </div>
                    <div class="specializeBox">
                        <div class="specialize">
                            <div class="name">Front-end Development</div>
                            <div class="description">I have the ability of web design and programming. I am passionate about improving my design and  programming skills, and constantly looking to learn new things everyday.</div>
                        </div>
                        <div class="logoGroup">
                            <div class="logo">
                                <img src="../static/icon/html5.svg" alt="html5">
                            </div>
                            <div class="logo">
                                <img src="../static/icon/css3.svg" alt="css3">
                            </div>
                            <div class="logo">
                                <img src="../static/icon/scss.svg" alt="scss">
                            </div>
                            <div class="logo">
                                <img src="../static/icon/js.svg" alt="js">
                            </div>
                            <div class="logo">
                                <img src="../static/icon/react.svg" alt="react">
                            </div>
                            <div class="logo">
                                <img src="../static/icon/git.svg" alt="git">
                            </div>
                            <div class="logo">
                                <img src="../static/icon/npm.svg" alt="npm">
                            </div>
                        </div>
                    </div>
             </div>
         </section>
         <section class="workSection">
             <div class="workWrap">
                 <div class="title">Working Experience</div>
                 <div class="experienceBox">
                     <div class="logo">
                         <img src="../static/icon/itri.svg" alt="itri">
                     </div>
                     <div class="companyInfo">
                        <div class="company">
                            ITRI (Industrial Technology Research Institute)
                       </div>
                        <div class="roleYear">
                           <div class="role">UIUX Designer & Front-End Developer</div>
                           <div class="year">| 2021/03 - Present</div>
                        </div>
                        <div class="experience">
                            I have the ability of web design and programming. I am passionate about improving my design and  programming skills, and constantly looking to learn new things everyday.
                       </div>
                     </div>
                 </div>
                 <div class="experienceBox">
                    <div class="logo">
                        <img src="../static/icon/wehelp.svg" alt="wehelp">
                    </div>
                    <div class="companyInfo">
                       <div class="company">
                        WeHelp - Web Development Bootcamp
                      </div>
                       <div class="roleYear">
                          <div class="role">
                              Front-End Development Trainee
                          </div>
                          <div class="year">| 2021/02 - 2021/08</div>
                       </div>
                       <div class="experience">
                           I have the ability of web design and programming. I am passionate about improving my design and  programming skills, and constantly looking to learn new things everyday.
                      </div>
                    </div>
                </div>
                <div class="experienceBox">
                    <div class="logo">
                        <img src="../static/icon/cybersoft.svg" alt="cybersoft">
                    </div>
                    <div class="companyInfo">
                       <div class="company">
                        CyberSoft Digital Services Corp.
                      </div>
                       <div class="roleYear">
                          <div class="role">UIUX Designer</div>
                          <div class="year">| 2019/04 - 2021/04</div>
                       </div>
                       <div class="experience">
                           I have the ability of web design and programming. I am passionate about improving my design and  programming skills, and constantly looking to learn new things everyday.
                      </div>
                    </div>
                </div>
                <div class="experienceBox">
                    <div class="logo">
                        <img src="../static/icon/commonwealth.svg" alt="commonwealth">
                    </div>
                    <div class="companyInfo">
                       <div class="company">
                        Common Wealth Magazine
                      </div>
                       <div class="roleYear">
                          <div class="role">Digital Innovation dept. UIUX Intern</div>
                          <div class="year">| 2017/07 - 2018/12</div>
                       </div>
                       <div class="experience">
                           I have the ability of web design and programming. I am passionate about improving my design and  programming skills, and constantly looking to learn new things everyday.
                      </div>
                    </div>
                </div>
                <div class="experienceBox">
                    <div class="logo">
                        <img src="../static/icon/chengkung.svg" alt="chengkung">
                    </div>
                    <div class="companyInfo">
                       <div class="company">
                        National Cheng Kung University
                      </div>
                       <div class="roleYear">
                          <div class="role">UI Designer</div>
                          <div class="year">| 2017/07 - 2017/09</div>
                       </div>
                       <div class="experience">
                           I have the ability of web design and programming. I am passionate about improving my design and  programming skills, and constantly looking to learn new things everyday.
                      </div>
                    </div>
                </div>
             </div>
         </section>

     </main>
     <footer>
        <div class="footerTitle">Contact Me 😊</div>
        <div class="footerSubtitle">Get in touch for opportunities or just to say hi!</div>
        <div class="linkGroup">
            <a href="mailto:beckyhung37@gmail.com"><img src="../static/icon/gmail.svg"/></a>
            <a href="https://linkedin.com/in/beckyhung37" target="_blank"><img src="../static/icon/linkedin.svg"/></a>
            <a href="https://github.com/BeckyHung37" target="_blank"><img src="../static/icon/github.svg"/></a>
        </div>
    </footer>
    
</body>
</html>