<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Becky Hung">
    <meta name="robots" content="index, follow">
    <meta name=""description content="This is Becky Hung portfolio. Becky Hung is a UIUX designer and front-end developer from Taiwan.">
    <title>Becky Hung Portfolio | Work1</title>
    <link rel="stylesheet" href="../static/style/work/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="logo"><a href="../index.html">Becky&nbsp;Hung</a></div>
            <ul class="navMenu">
                <li><a href="../index.html" class="navItem">Home</a></li>
                <li id="work">
                    <a href="#" class="navItem">Work
                         <img src="../static/icon/arrow-down.svg" style="padding-left: 5px;"/>
                         <ul class="dropdown">
                             <li><a href="../index.html#designProject" >Design</a></li>
                             <li><a href="../index.html#programProject">Programming</a></li>
                         </ul>
                     </a>
                 </li>
                <li><a href="about.html"  class="navItem">About</a></li>
            </ul>
        </nav> 
     </header>

     <main>
         <section class="introSection">
             <div class="introWrap">
                 <div class="photo">
                     <img src="../static/image/work6/work6.png" alt="test">
                 </div>
                 <div class="introduction">
                     <div class="title">
                        Yo-Taiwan: Taiwan Travel Web
                     </div>
                     <div class="subtitle">Overview</div>
                     <div class="description">
                        Special attractions and delicacies in different counties and cities
                        <br/>
                        Search by county and city keyword
                        <br/>
                        Popular Themes Travel Category
                        <br/>
                        Provides real-time weather from the Central Weather Bureau
                        <br/>
                        Taiwan Haoxing bus route map
                        <br/>
                        RWD: mobile phone, tablet, computer can be used
                     </div>
                     <div class="roleAndTool">
                         <div class="role">
                            <div class="subtitle">Role</div>
                            <div class="description">UI/UX Designer
                                <br/>
                                Front-end Developer</div>
                         </div>
                        <div class="tool">
                            <div class="subtitle">Tool</div>
                            <div class="description">Figma, React, Scss</div>
                        </div>
                     </div>
                 </div>
             </div>
         </section>
         <section class="uxSection">
             <div class="uxWrap">
                 <div class="title">User Research</div>
             </div>

         </section>
         <section class="mockupSection">
            <div class="mockupWrap">
                <div class="title">Mockup</div>
            </div>
        </section>
        <section class="systemSection">
            <div class="systemWrap">
                <div class="title">Design System</div>
            </div>
        </section>
     </main>

     <footer>
        <div class="footerTitle">Contact Me 😊</div>
        <div class="footerSubtitle">Get in touch for opportunities or just to say hi!</div>
        <div class="linkGroup">
            <a href="mailto:beckyhung37@gmail.com"><img src="../static/icon/gmail.svg"/></a>
            <a href="https://linkedin.com/in/beckyhung37" target="_blank"><img src="../static/icon/linkedin.svg"/></a>
            <a href="https://github.com/BeckyHung37" target="_blank"><img src="../static/icon/github.svg"/></a>
        </div>
    </footer>
    
</body>
</html>